body{background-color:#CBE4DE;
}

h1{
    color:#2E4F4F ;
}

h3{
    color:#0E8388;

}

hr{background-color:#CBE4DE;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}



    
